#div1 {
    max-width: 1200px;
    height: 500px;
    padding-bottom: 6%;
    padding-left: 6%;
    border: 1px solid #aaaaaa;
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

img {
    width: 100px;
}