svg {
    max-width: 800px;
}

.cls-2 {
    fill: #01324d;
}

.cls-1 {
    fill: hsl(23, 100%, 50%) !important;
    filter: drop-shadow(5px 5px 10px hsl(48, 100%, 50%));
}

.cls-3 {
    fill: #fcfefb;
}

.cls-4 {
    isolation: isolate;
}

.cls-5 {
    fill: #132536;
    mix-blend-mode: multiply;
    opacity: .4;
}

.cls-6 {
    fill: none;
    stroke: #fcfefb;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}