.container :is(.row1,
  .row2,
  .row3,
  .row4,
  .row5,
  .row6,
  .row7,
  .row8,
  .row9,
  .row10,
  .row11) {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 10px;
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.cell {
  aspect-ratio: 1;
  background-color: #e5e5e5;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.cell:hover {
  transform: scale(1.1);
  background-color: #b7b7b7;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.cell {
  animation: fadeIn 0.5s ease forwards;
}

.container {
  counter-reset: cell-counter;
}

.cell {
  counter-increment: cell-counter;
  animation-delay: calc(0.05s * var(--index));
}

@keyframes fadeInYellow {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
    background-color: yellow;
  }
}

.row3 .cell:nth-child(6),
.row4 .cell:nth-child(7),
.row6 .cell:nth-child(6),
.row7 .cell:nth-child(4),
.row7 .cell:nth-child(10),
.row8 .cell:nth-child(5),
.row8 .cell:nth-child(8),
.row9 .cell:nth-child(2),
.row9 .cell:nth-child(10),
.row10 .cell:nth-child(4),
.row10 .cell:nth-child(7) {
  animation: fadeInYellow 0.5s ease forwards;
  counter-increment: cell-counter;
  animation-delay: calc(0.05s * var(--index));
}

@keyframes fadeInBrown {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
    background-color: rgb(69, 39, 1);
  }
}

.row11 .cell:nth-child(5),
.row11 .cell:nth-child(6),
.row11 .cell:nth-child(7) {
  animation: fadeInBrown 0.5s ease forwards;
  counter-increment: cell-counter;
  animation-delay: calc(0.05s * var(--index));
}

@keyframes fadeInGreen {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
    background-color: green;
  }
}

.row1 .cell:nth-child(6),
.row2 .cell:nth-child(6),
.row3 .cell:nth-child(5),
.row3 .cell:nth-child(7),
.row4 .cell:nth-child(4),
.row4 .cell:nth-child(5),
.row4 .cell:nth-child(6),
.row4 .cell:nth-child(8),
.row5 .cell:nth-child(4),
.row5 .cell:nth-child(5),
.row5 .cell:nth-child(6),
.row5 .cell:nth-child(7),
.row5 .cell:nth-child(8),
.row6 .cell:nth-child(3),
.row6 .cell:nth-child(4),
.row6 .cell:nth-child(5),
.row6 .cell:nth-child(7),
.row6 .cell:nth-child(8),
.row6 .cell:nth-child(9),
.row7 .cell:nth-child(2),
.row7 .cell:nth-child(3),
.row7 .cell:nth-child(5),
.row7 .cell:nth-child(6),
.row7 .cell:nth-child(7),
.row7 .cell:nth-child(8),
.row7 .cell:nth-child(9),
.row8 .cell:nth-child(2),
.row8 .cell:nth-child(3),
.row8 .cell:nth-child(4),
.row8 .cell:nth-child(6),
.row8 .cell:nth-child(7),
.row8 .cell:nth-child(9),
.row8 .cell:nth-child(10),
.row9 .cell:nth-child(1),
.row9 .cell:nth-child(3),
.row9 .cell:nth-child(4),
.row9 .cell:nth-child(5),
.row9 .cell:nth-child(6),
.row9 .cell:nth-child(7),
.row9 .cell:nth-child(8),
.row9 .cell:nth-child(9),
.row9 .cell:nth-child(11),
.row10 .cell:nth-child(1),
.row10 .cell:nth-child(2),
.row10 .cell:nth-child(3),
.row10 .cell:nth-child(5),
.row10 .cell:nth-child(6),
.row10 .cell:nth-child(8),
.row10 .cell:nth-child(9),
.row10 .cell:nth-child(10),
.row10 .cell:nth-child(11) {
  animation: fadeInGreen 0.5s ease forwards;
  counter-increment: cell-counter;
  animation-delay: calc(0.05s * var(--index));
}