@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Good+Vibes');

body {
    background-image: url("christmasLights.png");
    background-repeat: no-repeat;
    background-color: rgb(190, 157, 190);
    font-family: 'Lobster';
    text-align: center;
    color: white;
}

#merryChristmas {
    font-size: 30pt;
    text-shadow: 3px 3px 1px rgb(52, 42, 52);
}

#withLove {
    color: green;
    font-size: 25pt;
}

#shadowBox {
    background-color: rgb(121, 81, 121);
    font-size: 20pt;
    color: red;
    align-content: center;
    box-shadow: 10px 10px 5px rgb(52, 39, 52);
    border-radius: 15px;
    font-family: 'Good Vibes';
    align-items: center;
    width: 1000px;
    height: 100px;
}

#leftSnowflake {
    font-size: 50px;
    text-align: left;
    position: relative;
    animation: snowFall 3s linear infinite;
}

#centerSnowflake {
    font-size: 50px;
    text-align: center;
    position: relative;
    animation: snowFall 3s linear infinite;
}

#rightSnowflake {
    font-size: 50px;
    text-align: right;
    position: relative;
    animation: snowFall 3s linear infinite;
}

@keyframes snowFall {
    from {
        top: -250px;
    }

    to {
        top: 500px
    }
}